/*? Color Var */
:root {
    --red-color: #C00A27;
    --green-color: #00A149;
    --black-color: #181818;
    --grey-color: #2C2C2C;
    --yellow-color: #FFCD02;
}

.login-contact {
    margin-top: 2%;
}

.form-contact-gray form button {
    margin-left: 3vw;
}

.btn-connexion-login {
    background-color: var(--red-color) !important;
    color: white !important;
}

.form-contact-gray form .btn-connexion-login:hover {
    background-color: var(--yellow-color) !important;
    color: var(--black-color) !important;
}

.btn-logintoregister span:nth-child(1) {
    background: linear-gradient(90deg, transparent, var(--yellow-color)) !important;
}

.btn-logintoregister span:nth-child(2) {
    background: linear-gradient(180deg, transparent, var(--yellow-color)) !important;
}

.btn-logintoregister span:nth-child(3) {
    background: linear-gradient(270deg, transparent, var(--yellow-color)) !important;
}

.btn-logintoregister span:nth-child(4) {
    background: linear-gradient(360deg, transparent, var(--yellow-color)) !important;
}

/*! Hover Btn */
.btn-logintoregister:hover span:nth-child(1){
    background: linear-gradient(90deg, transparent, var(--red-color)) !important;
}

.btn-logintoregister:hover span:nth-child(2){
    background: linear-gradient(180deg, transparent, var(--red-color))!important;
}

.btn-logintoregister:hover span:nth-child(3){
    background: linear-gradient(270deg, transparent, var(--red-color))!important;
}

.btn-logintoregister:hover span:nth-child(4){
    background: linear-gradient(360deg, transparent, var(--red-color))!important;
}