/*? Color Var */
:root {
    --red-color: #C00A27;
    --green-color: #00A149;
    --black-color: #181818;
    --grey-color: #2C2C2C;
    --yellow-color: #FFCD02;
}

.payment-info {
    background: var(--green-color);
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
}

.product-details {
    padding: 10px;
}

body {
    background: #eee;
}

.cart {
    background: #fff;
}

.p-about {
    font-size: 12px;
}

.table-shadow {
    -webkit-box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.42);
    box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.42);
}

.type {
    font-weight: 400;
    font-size: 10px;
}

label.radio {
    cursor: pointer;
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

label.radio span {
    padding: 1px 12px;
    border: 2px solid var(--red-color);
    display: inline-block;
    color: #8f37aa;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
}

label.radio input:checked + span {
    border-color: var(--yellow-color);
    background-color: var(--red-color);
    color: #fff;
}

.credit-inputs {
    background: var(--red-color);
    color: #fff !important;
    border-color: var(--yellow-color);
}

.credit-inputs::placeholder {
    color: #fff;
    font-size: 13px;
}

.credit-card-label {
    font-size: 9px;
    font-weight: 300;
}

.form-control.credit-inputs:focus {
    background: var(--red-color) !important;
}

.line {
    opacity: 1;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, var(--green-color) 0%, var(--red-color) 25%, var(--red-color) 50%, var(--red-color) 75%, var(--green-color) 100%) 1 !important;
}

.information span {
    font-size: 12px;
    font-weight: 500;
}

.information {
    margin-bottom: 5px;
}

.items {
    -webkit-box-shadow: 5px 5px 4px -1px rgba(0,0,0,0.25);
    box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08);
}

.spec {
    font-size: 11px;
}
